.shop-container {
  display: grid;
  /* first div takes 4fr of the total and second div takes 1 fr */
  grid-template-columns: 4fr 1fr;
}

.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
